.daily {
    box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
    background: var(--bg);
    border-radius: 0 0 20px 20px;
    margin-top: 100px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px,auto));
    gap: 15px;
    &__item {
        background: rgba(71, 147, 255, 0.2);
        border-radius: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 7px;
        &_day {
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 18px;
            color: var(--text);            
        }     
        &_month {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 14px;
            color: #939cb0;            
        } 
        &_icon {
            width: 48px;
            height: 48px;
        }
        &_tempMax {
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 18px;
            color: var(--text);            
        }
        &_tempMin {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 13px;
            color: #939cb0;            
        }
        &_description {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 13px;
            color: #939cb0;            
        }
    }
}