.current {
    display: flex;
    justify-content: space-between;
    @media (max-width:1100px) {
        flex-direction: column;
        gap: 30px;
    }
    &__left {
        box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
        background: var(--bg);
        border-radius: 20px;
        max-width: 400px;
        width: 100%;
        padding: 20px;
        position: relative;
        @media (max-width:1100px) {
            max-width: none;
        }
        &_degree {
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 96px;
            color: #4793ff;            
        }   
        &_day {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 40px;
            color: var(--text);            
        }   
        &_time {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 25px;
            color: #939cb0;   
            margin-top: 30px;
            margin-bottom: 15px;         
        }  
        &_city {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 25px;
            color: #939cb0;            
        }
        &_img {
            width: 120px;
            height: 120px;
            position: absolute;
            top: 46px;
            right: 20px;
        }
    }
    &__right {
        box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
        background: var(--bg);
        border-radius: 20px;
        max-width: 650px;
        width: 100%;    
        position: relative;
        padding: 40px 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        @media (max-width:1100px) {
            max-width: none;
        }
        &_img {
            position: absolute;
            right: 0;
            top: 0;
            max-width: 100%;
        }
        &_item {
            display: flex;
            align-items: center;
            gap: 20px;
            position: relative;
            &_icon {
                box-shadow: 1px 4px 10px -1px rgba(71, 147, 255, 0.2);
                background: var(--bg);
                border-radius: 50%;
                width: 38px;
                height: 38px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &_text {
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 14px;
                color: #939cb0;       
                min-width: 100px;         
            }
            &_value {
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 14px;
                color: var(--text);                
            }
        }
    }
}