@import url(./fonts.scss);

:root {
    --font-family: "Montserrat", sans-serif;
    --bg: white;
    --text: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
button,input {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}
.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper {
    background: var(--bg);
    color: var(--text);
    min-height: 100vh;
}
.wrapper.dark {
    --bg: rgb(23,23,23);
    --text: white;
}